/*-- scss:defaults --*/
$primary: #00824D ;
$headings-font-family: 'Roboto Condensed', bold ;
$headings-font-weight: 700 ;

.navbar-title {
  font-family: 'Roboto Condensed', bold;
  padding-left: 10px;
}

.navbar-logo {
  #padding-right: 20px ;
  max-height: 50px;
}